<% if current_user.try(:group).blank? %>
<p></p>
<% else %>
<div class="row" style="margin-top: 20px">
  <div class="col-md-3 col-sm-6 ">
  <%= link_to offers_path, class: "white-card home" do %>
      <p><%= image_tag("store.png") %></p>
      <h3>Aktualne ponude</h3>
    <% end %>
  </div>
  <!-- <div class="col-md-3 col-sm-6">
  <a href="" class="white-card home" >
    <div >
      <p><%#= image_tag("recycle.png") %></p>
      <h3>Razmjena</h3>
    </div>
    </a>
  </div> -->
  <% if current_user.is_producer %>
  <div class="col-md-3 col-sm-6 ">
  <%= link_to my_offers_path, class: "white-card home" do %>
      <p><%= image_tag("notepad.png") %></p>
      <h3>Moje ponude</h3>
    <% end %>
  </div>
  <% end %> 
  
  <div class="col-md-3 col-sm-6">
    <%= link_to my_orders_path, class: "white-card home" do %>
      <p><%= image_tag("bag.png") %></p>
      <h3>Moje narudžbe</h3>
    <% end %>
  </div>
  
  
  
  <div class="col-md-3 col-sm-6 ">
  <%= link_to my_profile_path, class: "white-card home" do %>
      <p><%= image_tag("user.png") %></p>
      <h3>Moj profil</h3>
    <% end %>
  </div>
  
  <% if @current_user_is_admin %>
  <div class="col-md-3 col-sm-6 ">
  <%= link_to admin_users_path, class: "white-card home" do %>
      <p><%= image_tag("lock.png") %></p>
      <h3>Administracija</h3>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>
