

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel white-card">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Moj profil</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@user, url: profile_path(@user), html: {:method => :put, role: "form", class: "form-horizontal" }) do |f| %>
        <div class="form-group">
          <div class= "col-lg-4 control-label">
            <label>Avatar</label>
          </div>
          <div class="col-lg-8">
            <%= gravatar_image_tag(@user.email) %> <%= link_to "Promijeni", "http://en.gravatar.com", target: "_blank" %>
          </div>
        </div>
				<div class="form-group" style="margin-bottom: 5px">
        </i> <%= f.label :name, "Ime i prezime:", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><p style="line-height: 35px; margin-bottom: 0"><%= @user.name %></p></div>
				</div>
				<div class="form-group">
          <%= f.label :email, "E-mail:", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><p style="line-height: 35px; margin-bottom: 0"><%= @user.email %></p></div>
				</div>
				<div class="form-group">
					<%= f.label :phone, "Telefon:", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><%= f.text_field :phone, class: "form-control" %></div>
				</div>
				
    
    
        <div class="form-group">
          <%= f.label :about_text, "Opis:", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_area :about_text, class: "form-control" %></div>
        </div>
    
        <div class="form-group">
          <%= f.label :about_url, "URL:", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :about_url, class: "form-control" %></div>
        </div>
    
        <div class="form-group">
          <%= f.label :about_attach, "PDF:", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.file_field :about_attach, class: "form-control" %></div>
        </div>		
		
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <%= f.submit "Spremi promjene", class: "btn btn-primary" %>
          </div>
        </div>

        <% end %>
      </div>
      <div class="panel-footer"><%= link_to "Back", :back %></div>
    </div>

  </div>
</div>
	