<%= render 'shared/aviary_feather' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-offer">
      <div class="panel-heading offer-title">
        <h3>Moj profil</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@user, url: profile_path(@user), html: {:method => :put, role: "form", class: "form-horizontal" }) do |f| %>
        <%= error_messages_for @user %>
        
        <div class="form-group">
          <%= label_tag :avatar_file, "Avatar", class: "col-lg-4 control-label" %>
          <div class="col-lg-8">
            <%= image_tag @user.avatar_src, width: 80, id: "avatar", data: { title: 'Avatar', ratio: '1:1', size: '300' } %>
            <br/><br/>
            <%= file_field_tag :avatar_file, class: 'aviary', accept: "image/gif,image/jpeg,image/png" %>
            <%= hidden_field_tag :avatar_url %>
            <!-- <button class="btn btn-default btn-sm" onclick="return editImage('avatar');">Edit image</button> -->
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 5px">
          <%= f.label :name, "Ime i prezime", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><p style="line-height: 35px; margin-bottom: 0"><%= @user.name %></p></div>
        </div>
        <div class="form-group" style="margin-bottom: 5px">
          <%= f.label :name, "Oznaka naručitelja", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><p style="line-height: 35px; margin-bottom: 0; color: #cc2200; font-weight: bold"><%= @user.buyer_tag %></p></div>
        </div>
        <div class="form-group" style="margin-bottom: 5px">
          <%= f.label :name, "Grupa", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><p style="line-height: 35px; margin-bottom: 0;"><%= @user.group.title %></p></div>
        </div>
        <div class="form-group">
          <%= f.label :email, "E-mail", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><p style="line-height: 35px; margin-bottom: 0"><%= @user.email %></p></div>
        </div>
        <div class="form-group">
          <%= f.label :phone, "Telefon*", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :phone, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :neighborhood, "Moj kvart", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :neighborhood, class: "form-control" %></div>
        </div>				
        <div class="form-group">
          <%= f.label :about_text, "O meni", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_area :about_text, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :about_url, "Link na moju web-stranicu", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :about_url, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :about_attach, "O meni u PDF-u", class: "col-lg-4 control-label" %>
          <div class="col-lg-8">
            <%= f.file_field :about_attach, class: "form-control" %>
            <% if @user.about_attach.present? %>
            <%= link_to "Download (#{number_to_human_size @user.about_attach_file_size.to_i})", about_attach_profile_path(@user), target: '_blank' %> | 
            <%= link_to("x", about_attach_profile_path(@user), method: :delete, data: { confirm: 'Jeste li sigurni da želite izbrisati?' }) %>
            <% end %>
          </div>
        </div>
        <br/>		
        <hr/>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <h4 >Samo za proizvođače</h4>
            <p>Podaci potrebni za ispis narudžbenica i otpremnica:</p>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :company_name, "Naziv OPG-a ili Tvrtke", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :company_name, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :company_address, "Adresa sjedišta", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :company_address, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :company_oib, "OIB", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :company_oib, class: "form-control" %></div>
        </div>
        
        <br/>
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <%= f.submit "Spremi promjene", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="footer-links">
        </div>
      </div>
    </div>
  </div>
</div>
	