<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-offer">
      <div class="panel-heading offer-title">
        <h3>Korisnički profil</h3>
      </div>
      <div class="panel-body">
        <p><%= image_tag @user.avatar_src, width: 80 %></p>
        <h4><%= @user.name %></h4>
        <hr/>
        <p>Član grupe: <strong><%= @user.group.title %></strong></p>
        <p>Članski broj: <strong><%= @user.buyer_tag %></strong></p>
        <p>Kvart: <strong><%= @user.neighborhood %></strong></p>
        <hr/>

        <p><%= @user.about_text %></p>
        <p>Više na linku: <strong><%= @user.about_url %></strong></p>
        <p>Više u dokumentu: 
          <% if @user.try(:about_attach) %>
          <%= link_to "Download (#{number_to_human_size @user.about_attach_file_size.to_i})", 
          about_attach_profile_path, target: '_blank' %> 
          <% else %>
          -
          <% end %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="footer-links">
          <% unless current_user == @user %>
          <button class="btn btn-primary message-trigger" data-toggle="modal" data-target="#message_to_user">
            <i class="fa fa-envelope"></i> Poruka korisniku
          </button>
          <% end %>
          <%= link_to("Uredi profil", my_profile_path, class: 'btn btn-primary') if current_user == @user %>
          <div class="modal fade" id="message_to_user">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Poruka korisniku</h4>
                </div>
                <%= render 'shared/contact_form' %>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
      </div>
    </div>
  </div>
</div>