<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="panel panel-default white-card">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Registracija korisnika</h3>
			</div>
			<div class="panel-body">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: "form", class: "form-horizontal accepted_manifest" }) do |f| %>
				<%= devise_error_messages! %>
				<div class="form-group">
					<%= f.label :name, "Ime i prezime ili naziv proizvođača*", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><%= f.text_field :name, :autofocus => true, class: "form-control" %>
          <span class="help-block">Kupci upisuju puno ime i prezime, proizvođači uobičajeni (što kraći) naziv prema kojem ih kupci prepoznaju</span>
        </div>
          
				</div>

				<div class="form-group">
					<%= f.label :phone, "Telefon*", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><%= f.text_field :phone, class: "form-control" %>
            <span class="help-block">Bit će vidljiv proizvođačima prilikom narudžbe</span>
          </div>
				</div>
				<div class="form-group">
					<%= f.label :email, "E-mail*", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><%= f.email_field :email, class: "form-control" %>
          <span class="help-block">Obavezno unijeti e-mail adresu s kojom ste prijavljeni u GSR</span>
        </div>
          
				</div>
				<div class="form-group">
					<%= f.label :password, "Lozinka*", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><%= f.password_field :password, class: "form-control" %>
          <span class="help-block">Koristite kombinaciju slova i brojki, minimalno 8 znakova (ovdje ne upisujete svoj članski broj, npr. PO-xxx)</span></div>
				</div>
				<div class="form-group">
					<%= f.label :password_confirmation, "Ponovi lozinku*", class: "col-lg-4 control-label" %>
					<div class="col-lg-8"><%= f.password_field :password_confirmation, class: "form-control" %></div>
				</div>
				<div class="form-group">
					<%= f.label :requested_group_id, "Članstvo u grupi*", class: "col-lg-4 control-label" %>
					<div class="col-lg-8">
            <%= f.select :requested_group_id, Group.all.collect {|g| [ g.title, g.id ] }, {include_blank: true}, {class: "form-control"} %>
            <span class="help-block">Članstvo u jednoj od navedenih grupa je preduvjet za registraciju</span>
          </div>
				</div>
				<div class="form-group">
					<%= f.label :neighborhood, "Kvart", class: "col-lg-4 control-label" %>
					<div class="col-lg-8">
            <%= f.text_field :neighborhood, class: "form-control" %>
            <span class="help-block">U kojem kvartu živiš?</span>
          </div>
				</div>
        
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <div class="checkbox">
              <%= check_box_tag :accept_manifest %> <%= label_tag :accept_manifest, "Prihvaćam" %> <%= link_to "Uvjete korištenja*", manifest_path, target: "_blank" %>
            </div>
          </div>
        </div>
        <br/>
				<div class="form-group">
					<div class="col-lg-offset-4 col-lg-8">
						<%= f.submit "Registriraj me", class: "btn btn-primary" %>
					</div>
				</div>
        
				<% end %>
			</div>
			<div class="panel-footer"><%= render "devise/shared/links" %></div>
  
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function( event ) {
  $('form.accepted_manifest').submit(function( event ) {
    var chk_accept = $(this).find('#accept_manifest');
    if (!chk_accept.is(':checked')) {
      event.preventDefault();
      alert('Preduvijet za članstvo je prihvaćanje pravila iz manifesta');
      chk_accept.parent().parent().addClass('error');
      chk_accept.focus();
      return false;
    }
  });
});
</script>