<%= form_for [@offer, @order], html: {role: "form"}  do |f| %>
<%= error_messages_for @order %>
<div class="row">
  <div class="col-md-12 order">
    <div class="group">
      <h4><i class="fa fa-truck"></i> &nbsp;Mjesto i vrijeme isporuke<span style="color: #cc2200">*</span> </h4>
      <div class="content">
        <%= f.select :delivery_id, @offer.deliveries.collect{|p| [ "#{p.location.title} - #{p.when.strftime("%A %d.%m.%Y %k:%M") if p.when.present? }", p.id ] }, {prompt: "obavezno odabrati", size: 4}, class: "form-control" %>
      </div>
    </div>
    <div class="group">
      <h4><i class="fa fa-th-list"></i> &nbsp;Proizvodi</h4>
      <div class="content">
        <% @offer.offer_items.each do |offer_item| %>
        <%= f.fields_for :order_items, @order.find_or_build_order_item_for(offer_item) do |order_item_form| %>

        <div class="form-group order-row"> 
          <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-3">
              <strong><%= offer_item.title %>&nbsp; <%= offer_item_packaging_icon(offer_item.packaging) %></strong>
              <span style="display:block; margin-bottom: 5px; font-size: 13px"><%= offer_item.note %></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= "1" unless offer_item.packaging %><%= offer_item.unit %> = <%= formatted_price offer_item.decimal_price %>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= offer_item_packaging_min_qty(offer_item) %>
            </div>
        
            <% if offer_item.packaging != "vario" %>   
            <div class="col-lg-2 col-md-3 col-sm-3 qty">
              <div class="input-group">
                <% if order_item_form.object.qty  %>
                  <% qty_val = sprintf("%.2f", order_item_form.object.qty).gsub('.', ',') %>
                  <% qty_val = order_item_form.object.qty.to_i if order_item_form.object.qty_have_to_be_integer? %>
                <% end %>
                <%= order_item_form.text_field :qty, 
                value: qty_val, 
                class: "form-control", placeholder: "količina", style: "color: #cc2200; font-weight: bold" %><%= offer_item_packaging_unit(offer_item) %> 
                
              </div>
              <% unless order_item_form.object.new_record?  %>
              <%= link_to( offer_order_order_item_path(order_item_form.object.order.offer, order_item_form.object.order, order_item_form.object), method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <span class="glyphicon glyphicon-trash remove_order_item"></span>
              <% end %>
              <% end %>
            </div>
            <% else %>
            
            <%# can't create order without qty (db constraint) %>
            <%= order_item_form.hidden_field :qty, value: "0" %>        
            <div class="col-lg-2 col-sm-3 qty">
              <div>
                <%= order_item_form.text_field :qty_description, class: "form-control", placeholder: "opisna količina", style: "color: #cc2200; font-weight: bold" %>
              </div>
            
            <% unless order_item_form.object.new_record?  %>
            <%= link_to( offer_order_order_item_path(order_item_form.object.order.offer, order_item_form.object.order, order_item_form.object), method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <span class="glyphicon glyphicon-trash remove_order_item"></span>
            <% end %>
            <% end %>
            </div>
            <% end %>
            <%= order_item_form.hidden_field :offer_item_id %>
          </div>
        </div> 
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="order-legend">
          <i class="fa fa-tachometer"></i> &nbsp;<span>Rinfuza - proizvođač važe prema narudžbi pa je moguć unos decimalnih brojeva - obratite pažnju na minimalnu količinu koju je potrebno naručiti (ukoliko je naznačena).</span><br/>
          <i class="fa fa-gift"></i> &nbsp;<span>Pakiranje - ovaj proizvod se isporučuje u uniformiranim pakiranjima - naručuje se po komadu/paketu i cijene su izražene po komadu/paketu, pa je moguć unos samo cijelih brojeva.</span>
        </div>
        <div class="col-md-6">
          <p class="order-legend">
            <i class="fa fa-question-circle"></i> &nbsp;<span>Komad varijabilne težine (npr. tikva, purica i sl.) - cijena je izražena u mjernoj jedinici (npr. kg) a naručuje se opisno (npr. molim 1 komad od cca. 2 kg). Proizvođač će <span style="font-weight: 400">nakon isteka roka za narudžbu</span> prilagoditi konačnu količinu vaše narudžbe prema stvarnoj težini proizvoda koji vam isporučuje (koja može malo varirati u odnosu na naručenu, ovisno o dostupnim komadima) pa ćete tada saznati ukupnu cijenu vaše narudžbe.</span>
          </p>
        </div>
      </div>
      <br/>
      <div class="group" style="margin-bottom: 0">
        <h4><i class="fa fa-pencil"></i> &nbsp;Poruka proizvođaču</h4>
        <div class="content">
          <p><%= f.text_area :note, class: "form-control", placeholder: "poruka", style: "max-width: 600px" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-footer" style="padding: 0 30px 30px 30px">
  <p class="row-submit">
    <%= f.submit "Naruči", class: "btn btn-primary btn-lg" %>
    <!-- samo u order-edit -->
    <%= link_to("Izbriši narudžbu", offer_order_path(@order.offer, @order), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn", style: "padding: 10px") unless @order.new_record?  %>
    
  </p>
</div>

<% end %>

