<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs hidden-sm">Br.</th>
      <th class="hidden-xs hidden-sm" >Status ponude</th>
      <th >Iz ponude</th>
      <th class="hidden-xs" >Ponuđač</th>
      <th class="hidden-xs" >Dostava</th>
      <th class="hidden-sm hidden-md hidden-lg" >Dostava</th>
      <th width="25%" class="visible-md visible-lg visible-print" >Narudžba</th>
      <th>Ukupan iznos</th>
      <!-- <th>Status</th> -->
      <th class="hidden-print"></th>
      <th class="hidden-print"></th>
      <!-- <th></th> -->
    </tr>
  </thead>
  <tfoot class="hidden-print">
    <tr>
      <td colspan="8"><%= paginate @my_orders %></td>
    </tr>
  </tfoot>
  <tbody>
    <% @my_orders.each do |order| %>
    <tr>
      <td class="hidden-xs hidden-sm"><%= order.id %> <%#= order.user.email %></td>
      <td class="hidden-xs hidden-sm" ><%= badge_status(order.offer) %></td>
      <td style="max-width: 200px"><%= link_to order.offer.title, order.offer %></td>
      <td class="hidden-xs"><%= link_to order.offer.user.name, profile_path(order.offer.user), target: '_blank' %></td>
      <td class="hidden-xs" ><%= badge_delivery order %><br/>
      
      <a href="#" data-toggle="modal" data-target="#LocationModal<%= order.delivery.location.id %>">
        <span class="glyphicon glyphicon-map-marker"></span> 
        <%= order.delivery.location.title %>
      </a>
      </td>
      <td class="hidden-sm hidden-md hidden-lg" ><%= badge_delivery order %></td>
      <td class="visible-md visible-lg visible-print" >
        <table class="table">
          
        <% total = 0 %>
        <% order.order_items.each do |order_item| %>
          <% unless order_item.offer_item.nil? %>
            <tr>
              <td>
                <%= order_item.offer_item.title %>
              </td>
              <td width="40%">
                <%= formatted_item_numeric_qty_unit(order_item) %>
              </td>
            </tr>
            <%#= formatted_price order_item.item_price %>
            <% total += order_item.item_price %>
          <% end %>
        <% end %>
        </table>
      </td>
      <td style="white-space: nowrap"><strong ><%= formatted_price total %></strong></td>
      <!-- <td><%#= order.status %></td> -->
      <td class="hidden-xs hidden-print"><%= link_to 'Detaljnije', offer_order_path(order.offer, order) %></td>
      <td class="hidden-sm hidden-md hidden-lg hidden-print">
        <%= link_to offer_order_path(order.offer, order) do %>
          <span class="glyphicon glyphicon-file"></span> 
        <% end %>
      </td>
      <!-- <td><%#= link_to('', edit_offer_order_path(order.offer, order), class: "link glyphicon glyphicon-pencil") unless order.offer.expired? %></td> -->
      <!-- <td><%#= link_to '', offer_order_path(order.offer, order), method: :delete, data: { confirm: 'Jeste li sigurni da želite obrisati narudžbu?' }, class: "link glyphicon glyphicon-trash" unless expired %></td> -->
    </tr>
    <!-- Modal -->
    <div class="modal fade" id="LocationModal<%= order.delivery.location.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Mjesto isporuke</h4>
          </div>
          <div class="modal-body">
            <h3><%= order.delivery.location.title %></h3>
            <%= image_tag(order.delivery.location.map_image_url, style: "max-width: 100%") if order.delivery.location.map_image_url.present? %>
            <p><%= order.delivery.location.description %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
          </div>
        </div>
      </div>
    </div> <!-- end Modal -->
    <% end %>
  </tbody>
</table>
      