<%= link_to "&laquo; Pregled ponude".html_safe, @offer, class: "nav-link"%>
<div class="panel panel-offer">
  <div class="panel-heading offer-title">
    <h3><%= @offer.title %> - kalkulacija</h3>
    <p>
      <strong>Napomena:</strong>
      <%= @offer.note %>
    </p>
    <p>
      <strong>Rok za narudžbu:</strong>
      <% if @offer.valid_until %>
      <%= formatted_valid_until @offer %> 
      <% if @offer.valid_until && @offer.valid_until > Time.current %>
      <span class="badge">još <%= distance_of_time_in_words_to_now @offer.valid_until if @offer.valid_until > Time.current %> </span>
      <% end %>
      <% else %>
      nije određeno
      <% end %>
    </p>

    <p>
      <strong>Status:</strong>
      <span class="badge"><%= @offer.status %></span>
    </p>

    <button class="btn btn-primary btn-absolute topright" data-toggle="modal" data-target="#message_to_orederers">
      <i class="fa fa-envelope"></i> Pošalji e-mail naručiteljima
    </button>
      
    <div class="modal fade" id="message_to_orederers">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Poruka svim naručiteljima</h4>
          </div>
          <%= render 'shared/contact_form' %>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
  
  <div class="panel-body">
    <%= link_to 'Nova ponuda', new_offer_path, class: "btn btn-primary btn-absolute topright"%>
    <ul class="nav nav-tabs">
      <li class="active" ><a href="#calculation-tab-1" data-toggle="tab">Narudžbe prema naručitelju</a></li>
      <li><a href="#calculation-tab-3" data-toggle="tab">Narudžbe prema proizvodu</a></li>
      <li><a href="#calculation-tab-2" data-toggle="tab">Korekcija količina</a></li>
    </ul>
    
    <div class="tab-content">
      <div id="calculation-tab-1" class="tab-pane active" >
        <h3>Narudžbe prema naručitelju</h3><br/>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Isporuka</th>
              <th>Naručitelj</th>
              <th>Narudžba</th>
              <th>Uk. cijena</th>
              <!-- <th>Status</th> -->
              <th></th>
              <!-- <th></th> -->
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <% grand_total = 0 %>
            <% @orders.each do |order| %>
            <% if order.delivery %>
            <tr>
              <td><%= order.id %></td>
              <td><strong><%= order.delivery.location.title %></strong> <br/><%= short_dt order.delivery.when %></td>
              <td><strong><%= order.user.buyer_tag %> <%= link_to order.user.name, profile_path(order.user) %></strong><br/><%= order.user.try(:group) ? order.user.group.title : '-' %><br/>Tel: <%= order.user.phone %><br/><%= order.user.email %></td>
              
              <td>
                <table class="table">
                  <thead>
                    <th>Proizvod</th>
                    <th>Isporučena kol.</th>
                    <th>Jed. cijena</th>
                    <th>Uk. cijena</th>
                  </thead>
                  <tbody>
                    <% total = 0 %>
                    <% order.order_items.each do |order_item| %>
                    <tr>
                      <td>
                        <strong><%= order_item.offer_item.title %></strong>
                      </td>
                      <td>
                        <strong><%= formatted_item_numeric_qty_unit order_item %></strong>
                      </td>
                      <td>
                        <%= offer_item_quantity_for_price(order_item.offer_item) %>
                      </td>
                      <td style="white-space: nowrap">
                        <%= vario_price_unknown(order_item) %>
                      </td>
                    </tr>
                    <% total += order_item.item_price %>
                    
                    <% end %>
                    <% grand_total += total %>
                  </tbody>
                </table>
                <%= truncate(order.note, length: 500) if order.note %>
              </td>
              <td style="white-space: nowrap"><strong><%= formatted_price total %></strong></td>
              <!-- <td><%#= order.status %></td> -->
              <td><%= link_to 'Detaljnije', offer_order_path(@offer, order) %></td>
              <!-- <td><%#= link_to 'Edit', edit_offer_order_path(@offer, order) %></td> -->
              <!-- <td><%#= link_to 'Destroy', offer_order_path(@offer, order), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
           
            <% end %>
            
            <% end %>
            <tr>
              <td colspan="6" align="right"><h4>Ukupno po ponudi: <%= formatted_price grand_total %></h4></td>
            </tr>
          </tbody>
            
        </table>
        <br/>
      </div>

      <div id="calculation-tab-3" class="tab-pane">
        <h3>Narudžbe prema proizvodu &nbsp; <%= link_to 'verzija za ispis', print_orders_per_item_offer_path(@offer), style: "font-size: 16px; font-weight: 400; text-decoration: underline" %></h3><br/>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Proizvod</th>
              <th>Jed. mjera</th>
              <th>Jed. cijena</th>
              <th>Uk. naručena kol.</th>
              <th>Količine po narudžbama</th>
              <th>Uk. cijena</th>
              <th>Uk. isporučena kol.</th> 
            </tr>
          </thead>
          <tbody>
            <% @offer_items.each do |offer_item| %>
            <% id = offer_item.id %>
            <% if @offer_items_sum[id] %>
            <tr>
              <td><%= id %></td>
              <td><%= offer_item_packaging_icon @offer_items_sum[id][:icon] %> &nbsp;<strong><%= @offer_items_sum[id][:title] %></strong></td>
              <td><strong>
                <%= '1' unless offer_item.packaging == "package" %> <%= @offer_items_sum[id][:unit] %></strong></td>
              <td><%= formatted_price @offer_items_sum[id][:price] %></td>
              
              <td><strong>
                <% unless offer_item.packaging == "vario" %>
                <%= formatted_qty @offer_items_sum[id][:qty_sum] %> 
                  <% if offer_item.packaging == "bulk" %>
                  <%= @offer_items_sum[id][:unit] %></strong>
                  <% end %>
                <% else %>
                opisno
                <% end %>
              </td>
              <td>
                <table class="table">
                  <thead>
                    <th>Naručitelj</th>
                    <th>Naručeno</th>
                    <th>Isporučeno</th>
                  </thead>
                  <tbody>
                    <% offer_item.order_items.each do |order_item| %> 
                    <tr>
                      <td><%= order_item.order.user.buyer_tag %> <%= link_to order_item.order.user.name, profile_path(order_item.order.user)%></td>
                      <td><%= formatted_item_qty_unit order_item %></td>
                      <td><%#= vario_qty_unknown(order_item) %><%= formatted_item_corrected_qty_unit order_item %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
              <td style="white-space: nowrap"><%= formatted_price @offer_items_sum[id][:numeric_qty_sum] * @offer_items_sum[id][:price] %></td>
              <td><strong><%= formatted_qty @offer_items_sum[id][:numeric_qty_sum] %> 
                <% unless offer_item.packaging == "package" %>
                <%= @offer_items_sum[id][:unit] %>
                <% end %>
              </strong>
              </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
        
      <div id="calculation-tab-2" class="tab-pane">
        <h3>Korekcija količina</h3>
        <p class="lead" style="color: #cc2200">Količine je moguće korigirati <strong>nakon isteka roka za narudžbu</strong>.</p><br/>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th></th>
              <th>Proizvod</th>
              <th>Jed. mjera</th>
              <th>Naručena kol.</th>
              <th>Kol. po narudžbama</th>
              <!-- <th>Dostupna kol.</th> SA SOLIDARIZACINOM-->
              <th>Isporučena kol.</th>
            </tr>
          </thead>
          <tbody>
            <% @offer_items.each do |offer_item| %>
            <% id = offer_item.id %>
            <% if @offer_items_sum[id] %>
            <tr>
              <td><%= id %></td>
              <td><%= offer_item_packaging_icon @offer_items_sum[id][:icon] %></td>
              <td><strong><%= @offer_items_sum[id][:title] %></strong></td>
              <td><strong><%= '1' unless offer_item.packaging == "package" %> <%= @offer_items_sum[id][:unit] %></strong></td>
              <td><strong>
                <% unless offer_item.packaging == "vario" %>
                <%= formatted_qty @offer_items_sum[id][:qty_sum] %> 
                  <% if offer_item.packaging == "bulk" %>
                  <%= @offer_items_sum[id][:unit] %></strong>
                  <% end %>
                <% else %>
                opisno
                <% end %>
                

              </strong></td>
              <td>
                <table class="table">
                  <thead>
                    <th>Naručitelj</th>
                    <th>Naručeno</th>
                    <th>Korekcija</th>
                  </thead>
                  <tbody>
                    <% offer_item.order_items.each do |order_item| %>
                    <% @order = order_item.order %>
                    <%= form_for [@offer, @order], html: {role: "form"}  do |f| %>
                    <%= f.fields_for :order_items, @order.find_or_build_order_item_for(offer_item) do |order_item_form| %>
                    <%#= order_item_form.hidden_field :offer_item_id %>
                    <% order_item = order_item_form.object %>
                    <tr>
                      <td><span style="font-weight: 600"><%= @order.user.buyer_tag %></span> <%= link_to @order.user.name, profile_path(@order.user)%></td>
                      <td><%= formatted_item_qty_unit order_item %></td>
                      
                      
                      
                      <!-- <td>   SA SOLIDARIZACIJOM
                        <%# if offer_item.packaging == "vario" %>
                          <%# if @offer.expired? %>
                            <%#= order_item_form.text_field :corrected_qty, class: "xs-form-input" %>
                            <%#= f.submit "Spremi", class: "btn btn-xs btn-primary" %>
                          <%# else %>
                            ponuda nije istekla
                          <%# end %>
                        <%# elsif order_item.corrected_qty.present? %>
                          <%#= formatted_qty order_item.corrected_qty %>
                        <%# end %>
                      </td> -->
                      
                      <!-- BEZ SOLIDARIZACIJE -->
                      <td>
                          <% if @offer.expired? %>
                            <%= order_item_form.text_field :corrected_qty, class: "xs-form-input" %>
                            <%= f.submit "Spremi", class: "btn btn-xs btn-primary" %>
                          <% else %>
                            <span class="glyphicon glyphicon-ban-circle"></span>
                          <% end %> 
                      </td>
                      
                      
                      
                    </tr>
                    <% end # f.fields_for :order_items %>
                    <% end # form_for [@offer, @order]%>
                    <% end # offer_item.order_items.each%>
                  </tbody>
                </table>
              </td>
              <!-- <td> SA SOLIDARIZACIJOM
                <%# if (offer_item.packaging_bulk? || offer_item.packaging_package?) && @offer.expired? %>
                <%#= form_for @offer, html: {role: "form"} do |f| %>
                <%#= f.fields_for :offer_items do |f_offer_item| %>
                <%# if offer_item.id == f_offer_item.object.id %>
                <%#= f_offer_item.text_field :total_available_qty, value: f_offer_item.object.total_available_qty.to_s.gsub('.', ','), class: "xs-form-input" %>
                <%#= f.submit "Solidariziraj", class: "btn btn-xs btn-primary" %>
                <%# end %>
                <%# end # fields_for :offer_items %>
                <%# end # form_for %>
                <%# end # unless %>
              </td> -->
              <td>
                <strong>
                  <%= formatted_qty @offer_items_sum[id][:numeric_qty_sum] %>
                    <% unless offer_item.packaging == "package" %>
                    <%= @offer_items_sum[id][:unit] %>
                    <% end %>
                  </strong>
                </td>
            </tr>
            
            <% end # if @offer_items_sum[id] %>
            <% end # @offer_items.each %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="footer-links">
      <%= link_to "Preuzimanje tablice (.csv)", offer_orders_path(@offer, format: :csv), class: "btn btn-primary" %>
      <button class="btn btn-primary" data-toggle="modal" data-target="#document-download">
        Kreiranje dokumenata
      </button>
    </div>
  </div>
</div>




<div id="document-download" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Unesite podatke potrebne za željeni dokument</h4>
      </div>
      <div class="modal-body">
        <%= form_for @offer, html: { role: "form", class: "form-horizontal"} do |f| %>
        
        <%= error_messages_for @offer %>

        <div class="form-group">
          <div class="col-lg-12"><h5>Podaci potrebni za Narudžbenice i Otpremnice:</h5></div>
        </div>
        <div class="form-group">
          <%= f.label :company_name, "Naziv OPG-a ili Tvrtke", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :company_name, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :company_address, "Adresa sjedišta", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :company_address, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :company_oib, "OIB", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :company_oib, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <div class="col-lg-12"><h5>Podaci potrebni za Otpremnice:</h5></div>
        </div>
        <div class="form-group">
          <%= f.label :dispatch_place, "Mjesto", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :dispatch_place, class: "form-control" %></div>
        </div>
        <div class="form-group">
          <%= f.label :dispatch_date, "Datum", class: "col-lg-4 control-label" %>
          <div class="col-lg-8"><%= f.text_field :dispatch_date, class: "form-control" %></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        <%= f.submit "Kreiraj Narudžbenice", name: 'print_orders', class: "btn btn-primary"  %>
        <%= f.submit "Kreiraj Otpremnice",   name: 'print_dispatch_notes', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



