<%= link_to "&laquo; Moje narudžbe".html_safe, my_orders_path, class: "nav-link"%>
<div class="panel panel-offer">
  <%#= render :partial => 'offers/offer_heading' %> 
  <div class="panel-heading offer-title">

        <h3>Narudžba br. <%= @order.id %> </h3>
        <ul style=" padding: 5px 0 0 0; line-height: 1.6em">
          <li><label>Naručitelj:</label> <%= link_to @order.user.name, profile_path(@order.user) %> <span style="font-weight: 600">(<%= @order.user.buyer_tag %>)</span></li>
          <li><label>Prema ponudi:</label> <%= link_to @offer.title, @offer %></li>
          <li><label>Autor ponude:</label> <%= link_to @offer.user.name, profile_path(@offer.user) %></li>
      </ul>
        <%= @offer.note %>

  </div>
  
 
  <div class="panel-body">

        <!-- <p><strong>User:</strong><%= @order.user.email %></p> -->
        
        <!-- <p><strong>Status:</strong><%= @order.status %></p> -->
        
          
          <table class="table">
            <thead>
              <tr>
                <th align="left">Proizvod</th>
                <th class="hidden-xs">Jed. cijena</th>
                <th>Naručena količina</th>
                <th>Isporučena količina</th>
                <th>Iznos</th>
              </tr>
            </thead>

            <tbody>
              <% total = 0 %>
              <% @order.order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.offer_item.title %></td>
                <td class="hidden-xs"><%= offer_item_quantity_for_price(order_item.offer_item) %></td>
                <td ><%= formatted_item_qty_unit order_item %></td>
                <td><%= formatted_item_corrected_qty_unit order_item %></td>
                <td><%= vario_price_unknown(order_item) %></td>
              </tr>
              <% total += order_item.item_price %>
              
              <% end %>
            </tbody>
            <tfoot style="border-top: 2px solid #DAD6C9;">
              <tr>
                <td align="left"><strong>Ukupno:</strong></td>
                <td ></td>
                <td ></td>
                <td class="hidden-xs" ></td>
                <td align="left"><strong><%= formatted_price total %></strong></td>
              </tr>
            </tfoot>
          </table>
          <p>
            Isporuka:
              <span style="position: relative; top: 2px"><%= badge_delivery @order %></span>
          </p>
          <% if @order.note? %>
          <p><strong>Poruka proizvođaču:</strong> <%= @order.note %></p>
          <% end %>

  </div>
  <div class="panel-footer">

      <div class="footer-links">

    <% if @offer.status == :active && @order.user == current_user %>
    <%#= link_to 'Promijeni narudžbu', edit_offer_order_path(@offer, @order) %> 
    <%#= link_to 'Izbriši narudžbu', [@offer, @order], method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <%= link_to('Uredi narudžbu', edit_offer_order_path(@offer, @order), class:'btn btn-primary') unless @offer.expired? %>
    <%= link_to('Izbriši narudžbu', offer_order_path(@offer, @order), class:'btn', method: :delete, data: { confirm: 'Jeste li sigurni da želite obrisati narudžbu?' }) unless @offer.expired? %>
    
    <%#= link_to 'Back', offer_orders_path(@offer) %>
    <% end %>
  </div>

  </div>
</div>
