<%= form_for @offer, html: {role: "form"} do |f| %>

<% if @offer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this post from being saved:</h2>
  <ul>
    <% @offer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="group">
  <h4><span class="glyphicon glyphicon-bullhorn"></span> &nbsp;Osnovne informacije o ponudi</h4>
  <div class="content">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <div class="form-group">
          <%= f.label :title, "Naziv ponude:" %>
          <%= f.text_field :title, class: "form-control", placeholder: "Naziv ponude" %>
        </div>
        <div class="form-group">
          <%= f.label :attach, "PDF s više informacija o ponudi:" %>
          <%= f.file_field :attach, class: "form-control", placeholder: "PDF" %>
        </div>
      </div>

      <div class="col-lg-7 col-sm-6">
        <div class="form-group">
          <%= f.label :note, "Napomena:" %>
          <%= f.text_area :note,  class: "form-control", placeholder: "Napomena", style: "min-height: 109px" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <h4><i class="fa fa-th-list"></i> &nbsp;Proizvodi</h4>
  <div class="content">
    <div class="form-group" >
      <%= f.fields_for :offer_items do |offer_items_form| %>
      <div class="duplicatable_nested_form offer_items">
        <div class="row">
          <%= offer_items_form.hidden_field :id %>
          <%= offer_items_form.hidden_field :position %>
          <div class="form-group col-xs-11 col-md-4 <%= "alooo" if offer_items_form.object.status == "alert"  %>">
            <%= offer_items_form.label :title, "Naziv proizvoda:" %>
            <%= offer_items_form.text_field :title, class: "form-control", style: "margin-bottom: 10px; font-weight: bold; color: #cc2200" %>
          </div>
          
          <div class="form-group col-xs-11 col-md-4" >
            <%= offer_items_form.label :note, "Opis:" %>
            <%= offer_items_form.text_area :note, class: "form-control item-description" %>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :packaging, "Način prodaje (obračuna cijene):" %>
            <%= offer_items_form.select :packaging, options_for_select(OfferItem::PACKAGING, offer_items_form.object.packaging),{ include_blank: true },{ class: "form-control packaging", style: "width: 100%" } %>
          </div>
        </div>
        <div class="row form-rinfuza packaging-details">
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :unit_bulk, "Mjerna jedinica:" %>
            <%= offer_items_form.text_field :unit_bulk, class: "form-control form-unit" %>
            <span class="help-block">kg, g, l... (bez broja ispred)</span>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :decimal_price_bulk, "Cijena:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :decimal_price_bulk, class: "form-control", style: " font-weight: bold; color: #333", value: sprintf("%.2f", offer_items_form.object.decimal_price_bulk).gsub('.', ',') %><span class="input-group-addon price-unit">kn/mj. jedinica</span>
            </div>
            <span class="help-block">upišite cijenu za mjernu jedinicu koju ste naveli</span> 
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :min_qty_per_order, "Minimalna količina:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :min_qty_per_order, class: "form-control" %>
              <span class="input-group-addon min-qty-unit">mj. jedinica</span> 
            </div>
            <span class="help-block">upišite min. količinu po narudžbi, u mj. jedinici koju ste naveli (decimalna točka umjesto zareza)</span>
          </div>      
        </div>
        <div class="row form-paket packaging-details">
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :unit_package, "Način pakiranja:" %>
            <%= offer_items_form.text_field :unit_package, class: "form-control" %>
            <span class="help-block">npr. 200g, 0,5l, kom, vezica...</span>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :decimal_price_package, "Cijena po paketu:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :decimal_price_package, class: "form-control", style: " font-weight: bold; color: #333", value: sprintf("%.2f", offer_items_form.object.decimal_price_package).gsub('.', ',') %><span class="input-group-addon">kn/paket</span>
            </div>
            <span class="help-block">upišite cijenu za mjernu jedinicu koju ste naveli</span> 
          </div>      
        </div>
        <div class="row form-vario packaging-details">
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :unit_vario, "Mjerna jedinica:" %>
            <%= offer_items_form.text_field :unit_vario, class: "form-control form-unit" %>
            <span class="help-block">npr. kg, g, l... (bez broja ispred)</span>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :decimal_price_vario, "Cijena:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :decimal_price_vario, class: "form-control", style: " font-weight: bold; color: #333", value: sprintf("%.2f", offer_items_form.object.decimal_price_vario).gsub('.', ',') %><span class="input-group-addon price-unit">kn/kg</span>
            </div>
            <span class="help-block">upišite cijenu za mjernu jedinicu koju ste naveli</span> 
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <span class="help-block">U polje za opis upišite koje su dostupne veličine/količine komada, koja je minimalna narudžba i sl.</span>
          </div>     
        </div>
        <%= link_to '', '', class: 'remove_nested_form glyphicon glyphicon-trash', "data-fields" => "offer_items" %>   
      </div>
      <% end %>
    </div>
    <p><%= link_to 'Dodaj proizvod', '', class: 'duplicate_nested_form', "data-fields" => "offer_items" %></p>
  </div>
  <div class="group-footer">
    <div class="row">
      <div class="col-md-6">
        <p class="order-legend">
          <span><strong>Rinfuza</strong> - omogućuje unos decimalnih brojeva u narudžbu - možete odrediti minimalnu količinu za naručivanje. </span><br/>
          <span><strong>Pakiranje</strong> - cijene se izražavaju za pakiranje, i naručuje se po komadu, pa je u narudžbi moguć unos samo cijelih brojeva. U polje "način pakiranja" upišite ukratko od čega se sastoji paket, npr. za jaja ćete upisati 10 komada, za sok 1 litra, za rukolu 100g, za košaricu komad, za peršin vezica... polje "opis" iskoristite za dodatne informacije.</span>
        </div>
        <div class="col-md-6">
          <p class="order-legend">
            <span><strong>Komad varijabilne težine</strong> - koristi se kada se cijena izražava po mjernoj jedinici (npr. kg), a proizvod se prodaje po komadu, čija točna cijena (zbog nepoznate težine) će biti poznata tek prilikom prodaje (npr. tikva, lubenica, glavica zelja, pile i sl.)<br/>Kupac će upisati opisno koliko želi naručiti (npr. 3 manje glavice), a vi ćete po isteku roka za narudžbu moći upisati točnu isporučenu količinu.</span>
          </p>
        </div>
      </div>
  </div>
</div>
    

<p class="row-submit"><%= f.submit "Spremi promjene", class: "btn btn-primary btn-lg" %></p>
<% end %>




