<%= form_for @offer, html: {role: "form"} do |f| %>
<%= error_messages_for @offer %>

<div class="group">
  <h4><span class="glyphicon glyphicon-bullhorn"></span> &nbsp;Osnovne informacije o ponudi</h4>
  <div class="content">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <div class="form-group">
          <span style="color: #cc2200">* </span><%= f.label :title, "Naziv ponude:" %>
          <%= f.text_field :title, class: "form-control", style: "font-weight: 600; font-size: 18px; color: #cc2200", placeholder: "Naziv ponude" %>
        </div>
        <div class="form-group">
          <%= f.label :attach, "PDF s više informacija o ponudi:" %>
          <%= f.file_field :attach, class: "form-control", placeholder: "PDF" %>
        </div>
      </div>

      <div class="col-lg-7 col-sm-6">
        <div class="form-group">
          <%= f.label :note, "Napomena:" %>
          <%= f.text_area :note,  class: "form-control", placeholder: "Napomena", style: "min-height: 109px" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="group">
  <h4><i class="fa fa-th-list"></i> &nbsp;Proizvodi</h4>
  <div class="content">
    <div class="form-group" >
      <%= f.fields_for :offer_items do |offer_items_form| %>
      <div class="duplicatable_nested_form offer_items">
        <div class="row">
          <%= offer_items_form.hidden_field :id %>
          <%= offer_items_form.hidden_field :position %>
          <div class="form-group col-xs-11 col-md-4 <%= "alooo" if offer_items_form.object.status == "alert"  %>">
            <span style="color: #cc2200">*</span> <%= offer_items_form.label :title, "Naziv proizvoda:" %>
            <%= offer_items_form.text_field :title, class: "form-control", style: "margin-bottom: 10px; font-weight: bold; color: #cc2200" %>
          </div>
          
          <div class="form-group col-xs-11 col-md-4" >
            <%= offer_items_form.label :note, "Opis:" %>
            <%= offer_items_form.text_area :note, class: "form-control item-description" %>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <span style="color: #cc2200">*</span> <%= offer_items_form.label :packaging, "Način prodaje (obračuna cijene):" %>
            <%= offer_items_form.select :packaging, options_for_select(OfferItem::PACKAGING, offer_items_form.object.packaging),{ include_blank: true },{ class: "form-control packaging", style: "width: 100%" } %>
            <span class="help-block">vidi upute ispod</span>
          </div>
        </div>
        <div class="row form-rinfuza packaging-details">
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :unit_bulk, "Mjerna jedinica:" %>
            <%= offer_items_form.text_field :unit_bulk, class: "form-control form-unit" %>
            <span class="help-block">kg, g, l... <strong>bez broja ispred</strong></span>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :decimal_price_bulk, "Cijena:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :decimal_price_bulk, class: "form-control", style: " font-weight: bold; color: #333", value: sprintf("%.2f", offer_items_form.object.decimal_price_bulk).gsub('.', ',') %><span class="input-group-addon price-unit">kn/mj. jedinica</span>
            </div>
            <span class="help-block">cijena za mjernu jedinicu koju ste naveli (2 decimale, točka ili zarez)</span> 
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :min_qty_per_order, "Minimalna količina:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :min_qty_per_order, value: sprintf("%.2f", offer_items_form.object.min_qty_per_order.to_s.to_d).gsub('.', ','), class: "form-control" %>
              <span class="input-group-addon min-qty-unit">mj. jedinica</span> 
            </div>
            <span class="help-block">minimalna količina po narudžbi, u mj. jedinici koju ste naveli (2 decimale, točka ili zarez)</span>
          </div>      
        </div>
        <div class="row form-paket packaging-details">
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :unit_package, "Način pakiranja:" %>
            <%= offer_items_form.text_field :unit_package, class: "form-control" %>
            <span class="help-block">npr. 200g, 0,5l, kom, vezica...</span>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :decimal_price_package, "Cijena po paketu:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :decimal_price_package, class: "form-control", style: " font-weight: bold; color: #333", value: sprintf("%.2f", offer_items_form.object.decimal_price_package).gsub('.', ',') %><span class="input-group-addon">kn/paket</span>
            </div>
            <span class="help-block">cijena za pakiranje koje ste naveli (2 decimale, točka ili zarez)</span> 
          </div>      
        </div>
        <div class="row form-vario packaging-details">
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :unit_vario, "Mjerna jedinica:" %>
            <%= offer_items_form.text_field :unit_vario, class: "form-control form-unit" %>
            <span class="help-block">npr. kg, g, l... <strong>bez broja ispred</strong></span>
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <%= offer_items_form.label :decimal_price_vario, "Cijena:" %>
            <div class="input-group">
              <%= offer_items_form.text_field :decimal_price_vario, class: "form-control", style: " font-weight: bold; color: #333", value: sprintf("%.2f", offer_items_form.object.decimal_price_vario).gsub('.', ',') %><span class="input-group-addon price-unit">kn/kg</span>
            </div>
            <span class="help-block">cijena za mjernu jedinicu koju ste naveli (2 decimale, točka ili zarez)</span> 
          </div>
          <div class="form-group col-xs-11 col-md-4">
            <span class="help-block"><br/>Iskoristite polje "Opis" (gore lijevo) i navedite više detalja o dostupnim veličinama/količinama komada, minimalnoj narudžbi i sl.</span>
          </div>     
        </div>
        <%= link_to '', '', class: 'remove_nested_form glyphicon glyphicon-trash', "data-fields" => "offer_items" %>   
      </div>
      <% end %>
    </div>
    <p><%= link_to 'Dodaj proizvod', '', class: 'duplicate_nested_form btn btn-primary btn-xs', "data-fields" => "offer_items" %></p>
  </div>
  
  


  
  
  
  <div class="group-footer">
    <a href="#" data-toggle="collapse" data-target="#legend" style="color: #cc2200">
      <span class="glyphicon glyphicon-info-sign"></span> &nbsp; Upute za unos proizvoda <b class="caret"></b>
    </a>
    <div class="collapse" id="legend">
    <div class="row">
      <hr style="border-color: #ccc"/>
      <div class="col-md-6">
        <p class="order-legend">
          <span><strong>Rinfuza</strong> ovaj način prodaje odabrat ćete ukoliko se može naručiti bilo koja količina - koju važete na temelju narudžbe.<br/>Cijena se izražava za neku odgovarajuću jediničnu mjeru (npr. 1kg).<br/>Možete (i ne morate) odrediti minimalnu količinu za naručivanje.</span><br/><br/>
          <span><strong>Pakiranje</strong> (najčešći oblik prodaje) - proizvod se isporučuje u uniformiranim pakiranjima. Cijene se izražavaju za komad/paket, i naručuje se po komadu/paketu.<br/>U polje "način pakiranja" upišite ukratko od čega se sastoji paket, npr. za jaja ćete upisati 10 komada, za sok 1 litra, za rukolu 100g, za košaricu komad, za peršin vezica...<br/>Ukoliko isti proizvod prodajete u različitim pakiranjima, za svako pakiranje unesite novu stavku (jer im se cijena razlikuje).</span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="order-legend">
          <span><strong>Komad varijabilne težine</strong> - koristi se kada se cijena izražava po mjernoj jedinici (npr. kg), a proizvod se prodaje po komadu, čija će točna cijena (zbog nepoznate težine) biti poznata tek prilikom pripreme za isporuku kada bude izvagan (npr. tikva, lubenica, purica i sl.)<br/>Kupac će upisati opisno koliko želi naručiti (npr. 3 manje tikve), a vi ćete po isteku roka za narudžbu moći upisati točnu isporučenu količinu.<br/>U polju "Opis" možete opisati kakvi komadi su na raspolaganju (npr. purice su između 10 i 12kg) što će smanjiti moguće nesporazume.</span>
        </p>
      </div>
    </div>
    <h3 style="font-size: 18px; margin-bottom: 15px;">Primjeri:</h3>
<table class="table offer_examples">
  <thead>
  <tr style="background-color: #fff">
    <th width="20%">Proizvod</th>
    <th width="25%">Uobičajeni oblik prodaje</th>
    <th width="20%">Jed. mjera/način pakiranja</th>
    <th width="15%">Cijena se izražava</th>
    <th width="20%">Potreban opis</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>košara miješanog povrća</td>
    <td>pakiranje</td>
    <td>kom</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td>peršin, bosiljak, celer, rotkvice, mladi luk</td>
    <td>pakiranje</td>
    <td>vezica</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr>
    <td>tikva</td>
    <td>komad varijabilne težine</td>
    <td>kg</td>
    <td>po kg</td>
    <td>tikve su teške između 1.5kg i 3kg, naručuje se po komadu</td>
  </tr>
  <tr style="background-color: #fff">
    <td rowspan="2">zelje u glavici</td>
    <td>komad varijabilne težine (glavice raznih veličina)</td>
    <td>kg</td>
    <td>po kg</td>
    <td>glavice su teške od 0,6-1,3kg, naručuje se po komadu</td>
  </tr>
  <tr style="background-color: #fff">
    <td style="border-right: none">pakiranje (glavice uniformiranih težina)</td>
    <td>kom</td>
    <td>po komadu</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="2" >rukola</td>
    <td>rinfuza</td>
    <td>kg</td>
    <td>po kg</td>
    <td></td>
  </tr>
  <tr>
    <td style="border-right: none">pakiranje</td>
    <td>paket od 100g</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td rowspan="2">većina voća i povrća</td>
    <td>rinfuza</td>
    <td>kg</td>
    <td>po kg</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td style="border-right: none">pakiranje</td>
    <td>paket od 500g, 1kg i sl.</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="2">orasi, lješnjaci i sl.</td>
    <td>rinfuza</td>
    <td>kg</td>
    <td>po kg</td>
    <td></td>
  </tr>
  <tr>
    <td style="border-right: none">pakiranje</td>
    <td>paket od 500g, 1kg i sl.</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td>jagode, maline, borovnice</td>
    <td>pakiranje</td>
    <td>mjerica od 250g, 500g i sl.</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr>
    <td>sokovi</td>
    <td>pakiranje</td>
    <td>boca od 1l, paket od 3l, 5l i sl.</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td>zimnica, med i sl.</td>
    <td>pakiranje</td>
    <td>npr. teglica 720ml</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="2">sir</td>
    <td>pakiranje (težina sireva uniformirana)</td>
    <td>komad, polovica, četvrtina</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr>
    <td style="border-right: none">komad varijabilne težine (težina sireva varira)</td>
    <td>kg</td>
    <td>po kg</td>
    <td>sirevi su teški od 2-2,5 kg - naručuje se komad, polovica, četvrtina</td>
  </tr>
  <tr style="background-color: #fff">
    <td>mlijeko</td>
    <td>pakiranje</td>
    <td>boca od 1l</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr>
    <td>razni mliječni proizvodi (maslac, vrhnje itd)</td>
    <td>pakiranje</td>
    <td>paket od 250g, mjerica i sl.</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td>jaja</td>
    <td>pakiranje</td>
    <td>paket od 10 komada</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="2">perad</td>
    <td>komad varijabilne težine (težina komada varira)</td>
    <td>kg</td>
    <td>po kg</td>
    <td>piceki su teški od 0,7-2,3kg</td>
  </tr>
  <tr>
    <td style="border-right: none">pakiranje (težina komada uniformirana)</td>
    <td>komad</td>
    <td>po komadu</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td>meso sitnije stoke (janjetina, kozlić, odojak)</td>
    <td>komad varijabilne težine</td>
    <td>kg</td>
    <td>po kg</td>
    <td>odojci su teški od 25-30kg - naručuje se cijeli, polovica ili četvrtina</td>
  </tr>
  <tr>
    <td rowspan="2">meso krupnije stoke</td>
    <td>rinfuza</td>
    <td>kg</td>
    <td>po kg</td>
    <td></td>
  </tr>
  <tr>
    <td style="border-right: none">pakiranje</td>
    <td>paket od 5kg, 10kg i sl.</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td rowspan="3">špek</td>
    <td>rinfuza (vaganje po narudžbi)</td>
    <td>kg</td>
    <td>po kg</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td style="border-right: none">paket (težina komada uniformirana)</td>
    <td>paket od 500g</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
  <tr style="background-color: #fff">
    <td style="border-right: none">komad varijabilne težine (težina komada varira)</td>
    <td>kg</td>
    <td>po kg</td>
    <td>table su teške od 1,2-1,6kg, naručuje se cijeli komad ili polovica</td>
  </tr>
  <tr>
    <td rowspan="2">kobasice</td>
    <td>rinfuza</td>
    <td>kg</td>
    <td>po kg</td>
    <td></td>
  </tr>
  <tr>
    <td style="border-right: none">pakiranje</td>
    <td>paket od 1kg</td>
    <td>po pakiranju</td>
    <td></td>
  </tr>
</tbody>
</table>
  </div>
  </div>
</div>

<p class="row-submit">
  <% submit_label = f.object.new_record? ? "Kreiraj ponudu" : "Spremi promjene" %>
  <%= f.submit submit_label, class: "btn btn-primary btn-lg" %>
</p>
<% end %>
