<%= render :partial => 'offers/offer_heading' %>

<div class="panel-body">
  <div class="row">
    <div class="col-md-6">
      <div class="offer-details">
        <label>Rok za narudžbu:</label>
        <ul>
          <li>
            <span class="glyphicon glyphicon-record"></span> <%= formatted_valid_until @offer %> 
            <% if @offer.valid_until && @offer.valid_until > Time.now %>
            &nbsp;
            <span class="badge">još <%= distance_of_time_in_words_to_now @offer.valid_until %></span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="offer-details">
        <label>Isporuke:</label>
        <ul>
          <% @offer.deliveries.each do |delivery| %>        
          <li>
            <span class="glyphicon glyphicon-calendar"></span> 
            <%= formatted_delivery_when_date(delivery) %> &nbsp;
            <span class="glyphicon glyphicon-time"></span> 
            <%= formatted_delivery_when_time(delivery) %> 
          
            <%= link_to delivery.location.map_url, target: "_blank" do %>&nbsp;
            <span class="glyphicon glyphicon-map-marker"></span> 
            <%= delivery.location.title %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="offer-details">
        <label>Objavljeno:</label>
        <ul><li><%= formatted_valid_from @offer %></li></ul>
      </div>
      <div class="offer-details">
        <label>Dostupno u grupama:</label>
        <ul>    
          <% @offer.groups.each do |group| %>
          <li> <%= group.title %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="focus">
        <div class="focus-header">
          <h4><%= image_tag("notepad.png") %> Proizvodi</h4>
        </div>
        <div class="focus-body">
          <table class="table">
          <thead>
            <tr>
              <th align="left">Proizvod</th>
              <th>Cijena</th>
            </tr>
          </thead>
          <tbody>
            <% @offer.offer_items.each do |offer_item| %>
            <tr>
              <td align="left"><strong><%= offer_item.title %></strong><br/><span style="font-size: 12px"><%= offer_item.note %></span></td>
              <td ><%= offer_item_quantity_for_price(offer_item) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        <div class="focus-footer">
          <div class="footer-links">
            <a href="#">Uredi proizvode</a> &nbsp; <a href="#">Promijeni redoslijed</a> ako je user vlasnik ponude i ako ponuda još nije objavljena
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>