<div class="col-md-6">
  <div class="focus">
    <div class="focus-header">
      <h4><%= image_tag("notepad.png") %> Ponuđeni proizvodi</h4>
    </div>
    <div class="focus-body">
      <table class="table offer">
        <thead>
          <tr>
            <th></th>
            <th align="left" width="50%">Proizvod</th>
            <th>Cijena</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="sortable">
          <% @offer.offer_items.each do |offer_item| %>
          <% (item_class = 'disabled') if (offer_item.status == 'deactivated') %>
          
          <tr id="item-<%= offer_item.id %>" class="<%= item_class %>" >
            
            <td>
              <% if (@offer.user == current_user) || current_user.admin? %>
                <% if offer_item.status == 'deactivated' %>
                  <%= link_to activate_offer_offer_item_path(offer_item.offer.id, offer_item.id), data: { confirm: 'Jeste li sigurni da želite aktivirati stavku?' }, title: "Aktiviraj stavku" do %>
                    <span class="glyphicon glyphicon-ban-circle"></span>
                  <% end %>
                <% else %>
                  <%= link_to deactivate_offer_offer_item_path(offer_item.offer.id, offer_item.id), data: { confirm: 'Jeste li sigurni da želite deaktivirati stavku?' }, title: "Deaktiviraj stavku" do %>
                    
                    <span class="glyphicon glyphicon-ban-circle"></span>
                  <% end %>
                <% end %>
              <% end %>  
            </td>
            
            <td align="left">
              <strong><%= offer_item.title %>&nbsp; <%= offer_item_packaging_icon(offer_item.packaging) %></strong><br/><%= offer_item.note %></td>
            <td ><%= offer_item_quantity_for_price(offer_item) %></td>
            <td><%= offer_item_packaging_min_qty(offer_item) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% if (@offer.user == current_user) %><span class="help-block">Za promjenu poretka primite stavku mišem i odvucite na željenu poziciju<br/>Za deaktivaciju stavke kliknite znak <span data-toggle="tooltip" title="sgjasgdh" id="example" class="glyphicon glyphicon-ban-circle"></span> ispred željene stavke</span>
      <% end %>
    </div>
    <div class="focus-footer">
      <div class="footer-links">
        <%= link_to('Uredi proizvode', edit_offer_path(@offer), class: 'btn btn-primary btn-xs' ) if @offer.editable? && (@offer.user == current_user) %>
      </div>
    </div>
  </div>
  
</div> 
<%# if current_user.offers.exists?(id: @offer.id) %>
<% if (@offer.user == current_user) %>
<style>
#sortable tr:hover {
  cursor: move;
}
</style>
<script>
$(function() {
  $( "#sortable" ).sortable({
    placeholder: "ui-state-highlight",
    opacity: 0.6,
    update: function(event, ui) {
      var info = $(this).sortable("serialize");
      // alert(info);
      $.ajax({
        type: "POST",
        url: "<%= save_sort_order_offer_url %>",
        data: info,
        context: document.body,
        success: function(){
          // alert("cool");
        }
      });
    }
  });
  $( "#sortable" ).disableSelection();
  
  $('#example').tooltip();
});
</script>
<% end %>
