<div class="col-md-6">
  <div class="offer-details">
    <label>Rok za narudžbu:</label>
    <ul>
      <li>
        <span class="glyphicon glyphicon-record"></span> <%= formatted_valid_until @offer %> 
        <% if @offer.valid_until && @offer.valid_until > Time.current %>
        &nbsp;
        <%= badge_status(@offer) %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="offer-details">
    <label>Isporuke:</label>
    <ul>
      <% @offer.deliveries.each do |delivery| %>        
      <li>
        <span class="glyphicon glyphicon-calendar"></span> 
        <%= formatted_delivery_when_date(delivery) %> &nbsp;
        <span class="glyphicon glyphicon-time"></span> 
        <%= formatted_delivery_when_time(delivery) %> 
          
        
        <a href="#" data-toggle="modal" data-target="#LocationModal<%= delivery.location.id %>"><span class="glyphicon glyphicon-map-marker"></span><%= delivery.location.title %></a>
        <!-- Modal -->
        <div class="modal fade" id="LocationModal<%= delivery.location.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Mjesto isporuke</h4>
              </div>
              <div class="modal-body">
                <h3><%= delivery.location.title %></h3>
                <%= image_tag(delivery.location.map_image_url, style: "max-width: 100%") if delivery.location.map_image_url.present? %>
                <p><%= delivery.location.description %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
              </div>
            </div>
          </div>
        </div> <!-- end Modal -->
        <%#= link_to delivery.location.map_url, target: "_blank" do %>
        <%# end %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="offer-details">
    <label>Objavljeno:</label>
    <ul><li><%= formatted_valid_from @offer %></li></ul>
  </div>
  <div class="offer-details">
    <label>Dostupno u grupama:</label>
    <ul>    
      <% @offer.groups.each do |group| %>
      <li> <%= group.title %></li>
      <% end %>
    </ul>
  </div>
</div>


