<div class="col-md-6">
  <div class="focus">
    <div class="focus-header">
      <h4><%= image_tag("notepad.png") %> Ponuđeni proizvodi</h4>
    </div>
    <div class="focus-body">
      <table class="table">
        <thead>
          <tr>
            <th align="left" width="50%">Proizvod</th>
            <th>Cijena</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="sortable">
          <% @offer.offer_items.each do |offer_item| %>
          <tr id="item-<%= offer_item.id %>">
            <td align="left"><strong><%= offer_item.title %>&nbsp; <%= offer_item_packaging_icon(offer_item.packaging) %></strong><br/><%= offer_item.note %></td>
            <td ><%= offer_item_quantity_for_price(offer_item) %></td>
            <td><%= offer_item_packaging_min_qty(offer_item) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="focus-footer">
      <div class="footer-links">
        <%= link_to('Uredi proizvode', edit_offer_path(@offer) ) if @offer.editable? && (@offer.user == current_user) %>
      </div>
    </div>
  </div>
</div> 
<%# if current_user.offers.exists?(id: @offer.id) %>
<% if (@offer.user == current_user) %>
<style>
#sortable tr:hover {
  cursor: move;
}
</style>
<script>
$(function() {
  $( "#sortable" ).sortable({
    placeholder: "ui-state-highlight",
    opacity: 0.6,
    update: function(event, ui) {
      var info = $(this).sortable("serialize");
      // alert(info);
      $.ajax({
        type: "POST",
        url: "<%= save_sort_order_offer_url %>",
        data: info,
        context: document.body,
        success: function(){
          // alert("cool");
        }
      });
    }
  });
  $( "#sortable" ).disableSelection();
});
</script>
<% end %>
