<div class="panel panel-offer">
  <div class="panel-heading offer-title">
    <h3>Sve ponude</h3>
    <div class="abs-topright">
      <%= form_for :cleanup, url: admin_clean_older_than_path, html: {role: "form"} do |f| %>
      <%= label_tag :older_than, "Ponude starije od:" %>
      <%= select_tag :older_than, options_for_select(2..6) %> mjeseci 
      <%= submit_tag "Izbriši", class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>

  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Zadnja izmjena</th>
              <th>Vrijedi od</th>
              <th>Vrijedi do</th>
              <th>Ponuđač</th>
              <th>Ponuda</th>
              <th>Status</th>
              <!-- <th></th> -->
              <th></th>
              <!-- <th></th> -->
              <!-- <th></th> -->
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="8"><%= paginate @offers %></td>
            </tr>
          </tfoot>
          <tbody>
            <% @offers.each do |offer| %>
            <tr>
              <td><%= offer.id %></td>
              <td><%= formatted_dt offer.updated_at %></td>
              <td><%= formatted_dt offer.valid_from %></td>
              <td><%= formatted_dt offer.valid_until %></td>
              <td><%= link_to offer.user.name, edit_admin_user_path(offer.user), target: '_blank' %> <br/><%= offer.user.email %> </td>
              <td><%= link_to offer.title, offer %></td>
              <td><%= offer.status %></td>
              <!-- <td><%#= link_to 'Show', offer %></td> -->
              <td><%= link_to 'Deactivate', deactivate_offer_path(offer, params: {admin: :offers}) %></td>
              <!-- <td><%#= link_to 'Edit', edit_order_path(offer) %></td> -->
              <!-- <td><%#= link_to 'Destroy', offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
            <% end %>
          </tbody>
        </table>
        
        <pre>Ukupno zapisa u bazi: <%= RowCountsQuery.total %>/10.000</pre>
        
        <pre>Broj zapisa po tablicama:
        <% rows_count = RowCountsQuery.count_per_table %>
          <%- rows_count.each do |row| -%>
          <%= row[0] -%>: <%= row[1] %>
          <%- end -%>
        </pre>
        
      </div>
    </div>
  </div>
  <div class="panel-footer">
    &nbsp;
  </div>
</div>