<div class="panel panel-offer">
  
  <%= render partial: 'offer_heading' %>
  
  <div class="panel-body">
    <div class="row">
      <%= render partial: 'offer' %>
      <% if (@offer.user == current_user) && (@offer.status == :draft) %>
        <%= render(partial: 'form_publish')  %>
      <% else %>
        <%= render partial: 'offer_publish_details'  %>
      <% end %>      
      
      
    </div>
  </div>
  
  <% if (@offer.user == current_user) && (@offer.status == :active)  %>
    <%= form_for @offer, html: {role: "form"} do |f| %>
  
      <div class="panel-body" style="background-color: #FAF7EA; border-top: 1px solid #ddd" >
        <div class="form-group">
          <%= f.label :note, "Izmijeni napomenu:" %>
          <%= f.text_area :note,  class: "form-control", placeholder: "Napomena" %>
        </div>
        <%= f.submit "Spremi", class: 'btn btn-primary btn-xs' %>
      </div>
    
    <% end # form_for %>
  <% end # if %>
  
  <div class="panel-footer">
    <div class="footer-links">
      <% if (@offer.user == current_user) %>
        <%= link_to('Uredi ponudu', edit_offer_path(@offer)) if @offer.editable? %> 
        &nbsp; &nbsp;
        <%= link_to('Deaktiviraj ponudu', deactivate_offer_path(@offer)) if @offer.status == :active %> 
        &nbsp; &nbsp; 
        <%= link_to 'Kopiraj ponudu', duplicate_offer_path(@offer) %> 
        &nbsp; &nbsp; 
        <%= link_to('Naruči', new_offer_order_path(@offer)) if @offer.status == :active %>
        &nbsp; &nbsp;
        <%= link_to('Izbriši ponudu',  @offer, method: :delete, data: { confirm: 'Jeste li sigurni da želite izbrisati ponudu?' }) if @offer.editable? %> 
        

      <% else %>
        <%= link_to 'Naruči', new_offer_order_path(@offer), class: "btn btn-primary" %>
        <% if @current_user_has_orders %>
          <%= link_to "Vidi moje narudžbe", my_orders_path, class: "btn btn-primary btn-xs", style: "float: right" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
