<div class="panel panel-offer">
  <%= render :partial => 'offer' %>
  <%= render(partial: 'form_publish') if (@offer.user == current_user) %>
  <% if (@offer.user == current_user) && (@offer.status == :active)  %>
  <%= form_for @offer, html: {role: "form"} do |f| %>
  
  <div class="panel-body" style="background-color: #FAF7EA; border-top: 1px solid #ddd" >
    <div class="form-group">
      <%= f.label :note, "Izmijeni napomenu:" %>
      <%= f.text_area :note,  class: "form-control", placeholder: "Napomena" %>
    </div>
    <%= f.submit "Spremi", class: 'btn btn-primary btn-xs' %>
  </div>
  
  <% end %>
  <% end %>
  <div class="panel-footer">
    <div class="footer-links">
      <% if (@offer.user == current_user) %>
      <% if @offer.editable? || @offer.status == :draft %>
      <%= link_to('Uredi ponudu', edit_offer_path(@offer))  %> &nbsp; &nbsp;
      <% end %> 
      <% if @offer.status == :active  %>
      <%= link_to('Deaktiviraj ponudu', deactivate_offer_path(@offer)) %> &nbsp; &nbsp; 
      <% end %>
      <%= link_to 'Kopiraj ponudu', duplicate_offer_path(@offer) %> 
      <% if @offer.status == :active %> &nbsp; &nbsp; 
      <%= link_to('Naruči', new_offer_order_path(@offer))  %>
      <% end %>
      <%#= link_to 'Poništi objavu ponude', @offer, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
      <%= link_to 'Naruči', new_offer_order_path(@offer), class: "btn btn-primary btn-xs", style: "float: right;margin-left: 10px" %>
      <% if @current_user_has_orders %>
      <%= link_to "Vidi moje narudžbe", my_orders_path, class: "btn btn-primary btn-xs", style: "float: right" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

