<div class="panel panel-offer">
  
  <%= render partial: 'offer_heading' %>
  
  <div class="panel-body">
    <div class="row">
      <%= render partial: 'offer' %>
      <% if ((@offer.user == current_user) || (@offer.user == current_user.admin)) && @offer.editable_with_errors? %>      
        <%= render(partial: 'form_publish', offer: @offer)  %>
      <% else %>
        <%= render partial: 'offer_publish_details', offer: @offer %>
      <% end %>
    </div>
  </div>
  
  <% if (@offer.user == current_user) && (@offer.status == :active)  %>
    <%= form_for @offer, html: {role: "form"} do |f| %>
  
      <div class="panel-body" style="background-color: #FAF7EA; border-top: 1px solid #ddd" >
        <div class="form-group">
          <%= f.label :note, "Izmijeni napomenu:" %>
          <%= f.text_area :note,  class: "form-control", placeholder: "Napomena" %>
          <span class="help-block">Nakon objave ponude više je ne možete uređivati, no na ovaj način možete obavijestiti buduće naručitelje ukoliko imate dodatne upute.<br/>One koji su već naručili o promjenama možete obavijestiti koristeći mogućnost "Pošalji poruku svim naručiteljima" na stranici <%= link_to 'Kalkulacija', offer_orders_path(@offer), style: "text-decoration: underline" %></span>
        </div>
        <%= f.submit "Spremi", class: 'btn btn-primary btn-xs' %>
      </div>
    
    <% end # form_for %>
  <% end # if %>
  
  <div class="panel-footer">
    <div class="footer-links">
      <% if (@offer.user == current_user) %>
        <%= link_to('Uredi ponudu', edit_offer_path(@offer), class:'btn btn-primary') if @offer.editable? %> 
        <%= link_to 'Kopiraj ponudu'.html_safe, duplicate_offer_path(@offer), class:'btn btn-primary' %> 
        <%= link_to('Naruči'.html_safe, new_offer_order_path(@offer), class:'btn btn-primary') if @offer.status == :active %>
        <%= link_to('Deaktiviraj ponudu'.html_safe, deactivate_offer_path(@offer), class:'btn') if @offer.status == :active %> 
        <%= link_to('Izbriši ponudu'.html_safe,  @offer, class:'btn', method: :delete, data: { confirm: 'Jeste li sigurni da želite izbrisati ponudu?' }) if @offer.editable? %> 

        
        <%= link_to '&nbsp; &nbsp; &nbsp; Vidi kalkulaciju &raquo;'.html_safe, offer_orders_path(@offer) %>

        
        

      <% else %>
        <%= link_to('Naruči', new_offer_order_path(@offer), class: "btn btn-primary") if @offer.status == :active %>
        <% if @current_user_has_orders %>
          <%= link_to "Vidi moje narudžbe &raquo;".html_safe, my_orders_path, style: "float: right" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
