<div class="panel panel-offer">
  <div class="panel-heading offer-author">
    <h3>Prikaz lokacije</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <p>
          <strong>Naziv lokacije:</strong>
          <%= @location.title %>
        </p>
        <!-- <p>
          <strong>Lat:</strong>
          <%#= @location.lat %>
        </p>
        <p>
          <strong>Lng:</strong>
          <%#= @location.lng %>
        </p> -->
        <p>
          <strong>Opis lokacije:</strong>
          <%= @location.description %>
        </p>
        <p>
          <strong>URL karte:</strong>
          <%= @location.map_image_url %>
        </p>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to 'Uredi', edit_location_path(@location) %> |
    <%= link_to t(:back), locations_path %>
  </div>
</div>