<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">PozitivaHub</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">      
      <%= li_active_if_current "Sve ponude", offers_path %>
      <%= li_active_if_current("Moje ponude", my_offers_path) if user_signed_in? && current_user.try(:is_producer) %>
      <%= li_active_if_current "Moje narudžbe", my_orders_path %>
      
      <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li> -->
    </ul>
    <!-- <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form> -->
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<%#= "#{current_user.group.title}" if current_user.try(:group) %>
			<%#= current_user.admin? ? 'Admin' : '' %> <b><%= current_user.name %></b><%#= current_user.email %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
					<li><%= link_to "Promjena lozinke", edit_user_registration_path %></li>
					<li><%= link_to "Moj profil", my_profile_path %></li>
					<% if current_user.admin? %>
					<li class="divider"></li>
					<li><%= link_to "Sve ponude", admin_offers_path %></li>
					<li><%= link_to "Sve narudžbe", admin_orders_path %></li>
					<li><%= link_to "Svi korisnici", admin_users_path %></li>
					<li><%= link_to "Lokacije", locations_path %></li>
					<% end %>
					<li class="divider"></li>
					<li><%= link_to "Odjava", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
			<% else %>
			<li><%= link_to "Registracija", new_user_registration_path %></li>
			<li><%= link_to "Prijava", new_user_session_path %></li>
			<% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>