<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
  <title>PozitivaHub</title>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all" %>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Viga&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <% unless mobile_device? %>
  <style>
  body { background-image: url(<%= asset_path 'bg_paper.jpg' %>); }
  .povrce{
    height: 180px;
    background-image: url(<%= asset_path 'povrce_bg.png' %>);
    opacity: .8;
  }
  #wrap {
    margin: 0 auto -250px;
    padding: 0 0 250px;
  }
  </style>
  <% end %>
  <%= javascript_include_tag "application"  %>
  <%= yield :javascript %>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/assets/html5shiv.js"></script>
    <script src="/assets/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wrap">
    <%= render 'layouts/navbar_top' %>

    <div class="container">
      <% flash.each do |name, msg| %>
      <div class="alert alert-dismissable alert-<%= name.to_s == 'alert' ? "danger" : "success" %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      </div>
      <% end %>

      <%= yield %>
    </div> <!-- /container -->
  </div> <!-- /wrap -->
  <div class="povrce"></div>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="text-muted">
            <%= link_to "Uvjeti korištenja", manifest_path, target: "_blank" %> &nbsp; &nbsp;
            <% if current_user && current_user.try(:group).present? %>
            <% slug = "info-" + current_user.group.title.parameterize %>
            <a href="/<%= slug %>">Info</a>
            <% end %>
          </p>
        </div>
        <div class="col-sm-6">
          <p class="text-muted credits">© 2014 PozitivaHub</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
